// Main extension (content)

// https://developer.mozilla.org/en-US/docs/Web/HTML/Element
h1,h2,h3,h4,h5,h6,address,article,blockquote,dd,dl,dt,picture,figure,figcaption,li,ol,ul,pre,p,abbr,cite,code,dfn,em,i,q,s,small,span,strong,sub,sup,u {
  cursor: url('../../build/assets/images/cursor/baseline-brush-black-18/1x/baseline_brush_black_18dp.png'), auto;
}

::selection,
[class^="highlight_"] {
  background-color: #acdbdf;
}

[class^="highlight_"] {
  cursor: auto;
  position: relative;
}

.remove {
  display: none;

  background-color: #69779b;
  border-radius: .3rem;
  bottom: .25rem;
  color: #f0ece2;
  cursor: url('../../build/assets/images/cursor/baseline-delete-black-18/2x/baseline_delete_black_18dp.png'), auto;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: normal;
  padding: 0.1rem .6rem;
  position: absolute;
  right: .25rem;

  &.active {
    display: inline;
  }

  &:hover {
    background-color: indianred;
  }
}
